.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.product-list {
    width: 100%;
    font-weight: 600;
    color: black;
}

.card {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.user {
    font-weight: normal;
}

.user b {
    font-weight: 600;
}

.mov {
    font-size: 1.3rem;
    color: red;
}

.product-value {
    font-size: 0.8rem;
    text-align: center;
}

.amount {
    font-size: 2rem;
}
