.provider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.provider-list {
    width: 100%;
    font-weight: 600;
    color: black;
}

.card {
    justify-content: space-between;
    padding: 15px;
}

.card:hover {
    background-color: var(--contrast-dark-color);
    transition: 0.5s;
}

.provider-description {
    width: 80%;
}

.card-name {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.provider-contact {
    height: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: normal;
}

.provider-contact b {
    font-weight: 600;
}

.provider-contact p {
    padding-top: 0.5rem;
}

.filtro {
    display: none;
}
