.provider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.provider-list {
    width: 100%;
    font-weight: 600;
    color: black;
}

.card {
    justify-content: space-between;
    padding: 15px;
}

.card:hover {
    background-color: var(--contrast-dark-color);
    transition: 0.5s;
}

.provider-nit {
    margin-left: 0.3rem;
    font-size: 0.85rem;
}

.provider-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.filtro {
    display: none;
}
